{% extends 'layout.html.twig' %}
{% form_theme form _self %}

{# Customize form protype#}
{%- block form_row -%}
    {% spaceless %}
        <div class="md-form">
            {{- form_label(form) -}}
            {{- form_widget(form,{'attr': {'class': 'form-control'}}) -}}
            {{- form_errors(form) -}}
        </div>
    {% endspaceless %}
{%- endblock form_row -%}

{% block stylesheets %}
    <style type="text/css">
        .user-form{
            position: relative;
            top: 20px;
            max-width: 300px;
            margin: auto;
        }
        ._submit{
            background: transparent;
            color: #9d9d9d;
            border: 2px solid #9d9d9d;
            border-radius: 30px;
            margin-top: 10px;
        }

        ._submit:hover{
            color: #FFFFFF;
            border: 2px solid #FFFFFF;
        }
    </style>
{% endblock stylesheets %}


{% block header %}
{% endblock header %}


{% block content %}
{% trans_default_domain 'FOSUserBundle' %}

    <div class="card user-form" >
        <h5 class="card-header elegant-color-dark white-text text-center py-4">
            <strong>Modifier mes informations</strong>
        </h5>

        <div class="card-body px-lg-5 pt-0 elegant-color-dark">

        {{ form_start(form, { 'action': path('fos_user_profile_edit'), 'attr': { 'class': 'fos_user_profile_edit' } }) }}

        {{ form_widget(form) }}
        <div>
            <button class="btn btn-outline btn-rounded waves-effect _submit" type="submit">{{ 'profile.edit.submit'|trans }}</button>
        </div>
        {{ form_end(form) }}

        </div>

    </div>




{% endblock content %}

{% block footer %}
{% endblock footer %}

{% block javascripts %}
    <!-- /Start your project here-->

    <!-- SCRIPTS -->
    <!-- JQuery -->
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <!-- Bootstrap tooltips -->
    <script type="text/javascript" src="{{ asset('build/js/popper.min.js') }}"></script>
    <!-- Bootstrap core JavaScript -->
    <!--<script type="text/javascript" src="js/bootstrap.min.js"></script>-->
    <!-- MDB core JavaScript -->
    <script type="text/javascript" src="{{ asset('build/js/mdb.min.js') }}"></script>
    <script type="text/javascript"  src="{{ asset('build/js/bootstrap.js') }}"></script>
    <script type="text/javascript" src="{{ asset('build/js/bootstrap.min.js') }}"></script>
    <script type="text/javascript">
        $("#menu-toggle").click(function(e) {
            e.preventDefault();
            $("#wrapper").toggleClass("toggled");
        });
    </script>
{% endblock %}
