{% extends 'layout.html.twig' %}

{% block title %}Gallerie{% endblock %}

{% block content %}
<!-- main content-wrapper-->

    <div id="page-content-wrapper" class="">
            <!-- Galleries list -->
            <div class="gallery" id="gallery">

                {% for gallery in galleries %}
                    {%  set image = gallery.images|first %}
                    {% set nbImages = gallery.images|length %}

                    <div class=" view overlay zoom mb-3 pics animation" id="gallery-item">
                        <a href="{{ path('thumbnails', { 'id': gallery.id}) }}">
                        <img  src="{{ vich_uploader_asset(image,'imageFile') }}" class="img-fluid"  alt="{{ gallery.name }}">
                            <div class="mask fl waves-effect waves-light white-text text-center" id="image-info">
                                <h4 class="">{{ gallery.name }}</h4>
                                <p class="">
                                Créée le : {{ gallery.createDate|date('d/m/Y') }}<br/>
                                Contient : {{ 'nbImages'|transchoice(nbImages) }}
                                </p>
                            </div>
                        </a>
                    </div>
                {% endfor %}
            </div>            <!-- Galleries list -->

    </div>
    <!-- Main content-wrapper -->

{% endblock content %}

