{% extends 'layout.html.twig' %}


{% block content %}

        <div id="page-content-wrapper">

            <div class="row thumb-gallery">
                <div class="col-lg-12" id="gallery-name">
                    <h1 class="text-right"><em>{{ gallery.name }}</em></h1>
                </div>
            </div>

            <div class="row thumb-gallery">

                <!-- set modal id -->
                {% set modalId = 0 %}
                <!-- start loop -->
                {% for image in gallery.images %}


                {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}

                <!-- modal, granted to enlarge image -->


                <div class="modal fade" id="modal{{ modalId }}" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
                    <div class="modal-dialog modal-lg">
                        <div class="modal-content">

                            <div class="modal-header elegant-color-dark">

                                {% set likeClassName = 'fa fa-heart-o fa-lg white-text heart' %}
                                {% for like in imagesLiked %}

                                 <!-- if image is already liked, set className and display liked -->
                                {% if image.id == like.imageId %}
                                {% set likeClassName = 'fa fa-heart fa-lg white-text heart' %}
                                {% endif %}

                                {% endfor %}
                                <span class="{{ likeClassName }}" id="heart{{ modalId }}" data-image ="{{ image.id }}" data-user ="{{ app.user.id }}"></span>
                                <button type="button" class="btn btn-outline btn-rounded waves-effect btn-sm" data-dismiss="modal" aria-label="close" id="close-modal">Fermer</button>
                            </div>
                            <img style="width: 100%" src="{{ vich_uploader_asset(image, 'imageFile') }}">
                        </div>
                    </div>
                </div>

                <!-- modal -->


                <!-- Display thumbnails -->
                <div class="col-lg-2 col-md-3 col-sm-4 col-6 item" data-toggle="modal" data-target="#modal{{ modalId }}" style="margin: 0;padding: 0">
                    <img style="margin: 0;width: 100%" src="{{ vich_uploader_asset(image, 'imageFile')|thumb }}" class="img-fluid z-depth-1">
                    <a><div class="item-overlay right"><span class="fa fa-heart-o red-text" id="like-info"></span>
                            {% if image.numberOfLike is null %}
                                0
                            {% endif %}
                            {{ image.numberOfLike }}
                        </div>
                    </a>
                </div>
                <!-- set modal id -->
                {% set modalId = ( modalId + 1) %}
                {% else %}
                <!-- Display message "user must be authenticated -->
                <div class="col-lg-2 col-md-3 col-sm-4 col-6 item" data-toggle="modal" data-target="#modal0" style="margin: 0;padding: 0">
                    <img style="margin: 0;width: 100%" src="{{ vich_uploader_asset(image, 'imageFile')|thumb }}" class="img-fluid z-depth-1">
                    <a><div class="item-overlay right"><span class="fa fa-heart-o red-text" id="like-info"></span>
                            {% if image.numberOfLike is null %}
                                0
                            {% endif %}
                            {{ image.numberOfLike }}
                        </div>
                    </a>
                </div>

                {% endif %}

                {% endfor %}
                <!-- Images endfor loop -->
            </div>

            <div class="modal fade" id="modal0" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-md" role="document">
                    <div class="modal-content">
                        <div class="modal-header elegant-color-dark" id="myheader">
                            <button type="button" class="close" data-dismiss="modal" aria-label="close">
                                <span aria-hidden="true" class="white-text">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body text-center" >
                            <i class="fa fa-info-circle fa-3x animated rotateIn black-text" ></i>
                            <p class="grey-text" id="modal-bodyInfo">
                                <em>Vous devez être connecté afin d'accéder à cette fonctionnalité.</em>
                            </p>
                        </div>
                        <div class=" modal-footer grey lighten-5 justify-content-center">
                            <a href="{{ path('fos_user_security_login') }}" class="btn btn-outline btn-rounded waves-effect btn-sm modal-userInfo">Se connecter</a>
                            <a href="{{ path('fos_user_registration_register') }}" class="btn btn-outline btn-rounded waves-effect btn-sm modal-userInfo">Créer un compte</a>

                        </div>

                    </div>
                </div>
            </div>

        </div>

{% endblock %}



